USE [havik]
GO
/****** Object:  StoredProcedure [dbo].[sp_vw_proj_acoes]    Script Date: 05/31/2012 16:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_vw_proj_acoes]
(
@id_projeto int = null
)
as

select
	base.id, 
	acao.id,
	acao.descricao acao,
	prod.descricao produto,
	base.dt_alteracao dt_registro_acao,
	fn_st.descricao status_financeiro,
	financ.nome_usuario usuario_status,
	fn_st.dt_criacao dt_status_fin,
	nota.descricao status_nota,
	emp.nome empresa,
	proj.nome projeto,
	equi.nome_usuario equipe,
	rcap.nome_usuario resp_captacao,
	rent.nome_usuario resp_entrega,	
	anl.nome_usuario colaborador_resp,
	base.fee,
	imp.descricao imposto,
	base.valor_nota,
	base.particularidades,
	base.fee,
	base.mult_salario qtd_salarios,
	cli.id id_candidato,
	cli.nome candidato,
	base.base_faturamento,
	base.valor_fatura,
	base.valor_fat_imposto,
	base.salario_final,
	modo.descricao modo_pagamento,
	base.vencimento data_vencimento,
	base.email_fatura email_contato,
	proj.cod_do_vagas numero_vagas,
	proj.requisicao_vagas,
	base.parcelas qtd_parcelas,
	base.faturar id_faturar,
	case when base.faturar=1 then 'sim'
	else 'não' end faturar,
	base.ativo

	
from bh_proj_financeiro base

left join br_acao acao on
	acao.id=base.acao
	
left join bc_projeto proj on
	proj.id=base.id_projeto	
	
left join br_modo_pagamento modo on
	modo.id=base.id_modo_pagamento	
	
left join br_tp_produto prod on
	prod.id=proj.tipo_produto	
	
left join bh_fin_status fin on
	fin.id_acao=base.id	
	
left join br_fin_status fn_st on
	fn_st.id=fin.id_status
	
LEFT join bc_usuario financ on
	financ.id=fin.usuario
	
left join br_fin_nota nota on
	nota.id=fin.id_nota		

left join br_impostos imp on
	imp.id=base.id_impostos
	
left join bc_usuario rent on
	rent.id=proj.responsavel_entrega
	
left join bc_usuario rcap on
	rcap.id=proj.responsavel_captacao
	
left join bc_usuario equi on
	equi.id=proj.equipe
	
left join bc_usuario anl on
	anl.id=proj.colaborador_responsavel	
	
left join bc_empresa_unq emp on
	emp.id=proj.id_empresa
	
left join bc_cliente cli on
	cli.id=base.id_cliente							

where base.id_projeto=@id_projeto
